// ================================================
// Base 全体に影響するもの
// ================================================
@use 'variables' as v;

// カラー変数の定義 -
:root {
  --color-primary: #{v.$color-primary};
  --color-secondary: #{v.$color-secondary};
  --color-accent-primary: #{v.$color-accent};
  --color-accent-secondary: #{v.$color-accent-secondary};
}

html {
  font-family: v.$font-main;
  font-size: clamp(10px, 2.5vw, 16px);
  line-height: v.$line-height;
  color: v.$text-color;

  @include v.media('sp') {
    line-height: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}
