// ================================================
// Variables 変数
// ================================================
@use 'sass:map';

$color-primary: #0c0c0c;
$color-secondary: #f3f3f3;
$color-accent: #f00;
$color-accent-secondary: #00f;
$font-size-main: 16px;
$font-main: 'Shippori Mincho', 'Noto Sans JP', 'Noto Serif JP', '游明朝', serif, 'Material Icons';
$line-height: 1.5;
$text-color: #333;
$radius-main: 30px;
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width : 768px) and (max-width: 1023px)',
  pc: 'screen and (min-width: 1024px)',
  mobile: 'screen and (max-width:1023px)'
);
$space: (
  0.25: 0.25rem,
  0.5: 0.5rem,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem
);
$font-size: (
  small: 0.5rem,
  midium: 1rem,
  large: 1.5rem,
  title: 2rem
);
$z: (
  base: 1,
  header: 10,
  modal: 100,
  overlay: 1000
);
$radius: (
  out: $radius-main,
  in: calc(#{$radius-main}/ 2),
  circle: 100%
);
$padding-x-default: map.get($space, 2);
$padding-y-default: map.get($space, 3);

// ================================================
// mixins ミックスイン(共通スタイル)
// ================================================

@mixin media($breakpoint) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

@mixin flex($content: space-between, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $content;
}

@mixin container($max: 1440px) {
  width: min(98%, $max);
  margin: 0 auto;
  margin-inline: auto;
}

// ================================================
// placeholder プレースホルダー(共通スタイル)
// ================================================

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%list-disc {
  text-align: left;
  list-style: disc;
  list-style-position: inside;
}
%border {
  border-color: var(--main);
  border-style: solid;
  border-width: 10px;
}
%radius-outbound {
  border-radius: map.get($radius, out);
}
%radius-inbound {
  border-radius: map.get($radius, in);
}
