// ==================================================================
// footer
// ==================================================================
footer {
  padding-bottom: calc(#{v.$padding-y-default} + env(safe-area-inset-bottom));
}
