// ==================================================================
// header
// ==================================================================
header {
  position: sticky;
  top: 0;
  z-index: map.get(v.$z, header);
  padding-top: calc(#{v.$padding-y-default} + env(safe-area-inset-top));
}
