@use '../variables' as v;
@use 'sass:map';

.humberger {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: map.get(v.$space, 0.5);
  align-items: center;
  width: 45px;
  height: 45px;
  aspect-ratio: 1;
  margin: 0;
  cursor: pointer;

  @include v.media(mobile) {
    transition: top 0.5s linear;
    transition-delay: 2.5s;
  }

  .open & {
    top: 3rem;
    transition-delay: 0s;
  }

  &-border {
    min-width: 40px;
    height: 1.5px;
    background-color: var(--color-primary);
    mix-blend-mode: difference;
    transition: all 0.3s linear;

    .open &:nth-child(n) {
      top: 50%;
      transition: all 0.3s linear;
    }

    &:first-child {
      top: 0;

      .open & {
        rotate: 45deg;
      }
    }

    &:nth-child(2) {
      top: 50%;

      .open & {
        opacity: 0;
      }
    }

    &:last-child {
      top: 100%;

      .open & {
        rotate: -45deg;
      }
    }
  }
}
