@use "../variables" as v;

.humberger {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  display: none;
  align-items: center;
  width: 45px;
  height: 30px;
  margin: 0;
  cursor: pointer;
  translate: -50% -50%;

  @include v.media(mobile) {
    display: block;
    transition: top 0.5s linear;
    transition-delay: 2.5s;
  }

  .open & {
    top: 3rem;
    transition-delay: 0s;
  }

  &-border {
    position: absolute;
    width: 100%;
    height: 1.5px;
    margin: 0;
    background-color: var(--color-primary);
    mix-blend-mode: difference;
    transition: all 0.3s linear;

    .open &:nth-child(n) {
      top: 50%;
      transition: all 0.3s linear;
    }

    &:first-child {
      top: 0;

      .open & {
        rotate: 45deg;
      }
    }

    &:nth-child(2) {
      top: 50%;

      .open & {
        opacity: 0;
      }
    }

    &:last-child {
      top: 100%;

      .open & {
        rotate: -45deg;
      }
    }
  }
}
