@use '../variables' as v;
@use 'sass:map';

.btn {
  display: inline-block;
  padding: map.get(v.$space, sm) map.get(v.$space, md);
  text-align: center;
  border-radius: 4px;
  transition: 0.5s ease;

  &-primary {
    color: var(--color-primary);
    background-color: var(--color-accent);

    &:hover {
      color: var(--color-accent-primary);
      background-color: var(--color-primary);
    }
  }

  &-secondary {
    color: var(--color-secondary);
    background-color: var(--color-accent-secondary);

    &:hover {
      color: var(--color-accent-secondary);
      background-color: var(--color-secondary);
    }
  }
}
