@use '../variables' as v;

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: map.get(v.$space, 1);
  place-content: center stretch;
  align-items: center;
  max-width: 550px;
  color: inherit;
  border-radius: map.get(v.$radius, out);

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: space-between;
  }

  &-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: map.get(v.$space, 0.5);
    place-content: center;
    align-self: start;
  }

  &-imgbox {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: contain;
    border-radius: map.get(v.$radius, in);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-sublist {
    @extend %list-disc;
  }

  // カードがリンクだった場合の処理
  &-link {
    color: inherit;

    &:visited,
    &:active {
      color: inherit;
    }

    &:hover .card-img {
      transform: scale(1.2);
    }
  }

  @at-root a#{&} {
    &:visited,
    &:active {
      color: inherit;
    }
  }
}
