// scss/components/_card.scss

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  place-content: center stretch;
  align-items: center;
  max-width: 550px;
  color: inherit;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    align-items: stretch;
    justify-content: space-between;
  }

  &-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
    place-content: center;
    align-self: start;
  }

  &-imgbox {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: contain;
  }

  &-img {
    width: auto;
    height: 100%;
  }

  &-sublist {
    @extend %list-disc;
  }

  // カードがリンクだった場合の処理
  &-link {
    color: inherit;

    &:visited,
    &:active {
      color: inherit;
    }

    &:hover .card-img {
      transform: scale(1.2);
    }
  }

  @at-root a#{&} {
    &:visited,
    &:active {
      color: inherit;
    }
  }
}
