@use '../variables' as v;
@use 'sass:map';

.form {
  &_box {
    margin-bottom: map.get(v.$space, 1);
  }

  &_label {
    display: block;
    margin-bottom: map.get(v.$space, 0.5);
  }

  &_input,
  &_textarea {
    width: 100%;
    padding: map.get(v.$space, 0.5);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
  }

  // WordPress Contact Form7対応
  .wpcf7-form-control-wrap {
    display: contents;
  }
}
