@use '../variables' as v;

.title-box {
  &-main {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  &-sub {
    font-size: clamp(1rem, 2vw, 1.75rem);
  }
}

.container {
  @include v.container;
}

.wrapper {
  @include v.container(90%);
}

.inner {
  @include v.container(98%);
}
